@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btn btn-danger" id="throwJs" name="throwJS" onclick="throwError()">Throw Example javascript error</button>

    <h2>Dotnet errors</h2>
    <div class="row">
        <div class="col"><a id="throwDotnet1" href="error1" class="btn btn-primary">error1</a></div>
        <div class="col"><a id="throwDotnet2" href="error2" class="btn btn-primary">error2</a></div>
        <div class="col"><a id="throwDotnet3" href="error3" class="btn btn-primary">error3</a></div>
        <div class="col"><a id="throwCommon" href="errorCommon" class="btn btn-primary">errorCommon</a></div>
        <div class="col"><a id="throwElse" href="errorElse" class="btn btn-primary">errorElse</a></div>
    </div>

</div>